# This is a basic workflow to help you get started with Actions

name: obj-valid

# Controls when the action will run. 
on:
  # Triggers the workflow on push event but only for the main branch
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.15.5
      - run: yarn install --frozen-lockfile
      - run: yarn pack --filename=release.tgz
